# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# next.js

# production

# misc

# debug

# env files (can opt-in for committing if needed)

# local sqlite data

# typescript

# project media folders
/audio/
/images/
/video/

# Las imágenes del sitio deben incluirse en el despliegue
!/images/
!/images/**
